.img-bg {
  background: hsl(200, 35%, 70%);
  padding: 8px;
  border-radius: 6px;
  display: block;
  margin: 1rem auto;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08);
}

.img-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  align-items: start;
}

.img-row img {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .img-row {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 105ch) {

  /* apply only when we can comfortably fit 100ch */
  .wide-crt {
    width: 98ch;
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#site-footer #socials a .icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

:root {
  --icon-tags: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%2716%27%3E%3Cpath%20d%3D%27M2.5%201A1.5%201.5%200%200%200%201%202.5v4.293c0%20.398.158.78.44%201.06l5.207%205.207a1.5%201.5%200%200%200%202.122%200l4.293-4.293a1.5%201.5%200%200%200%200-2.122L7.854%201.44A1.5%201.5%200%200%200%206.793%201H2.5zm0%201.5h4.293L12%207.707%207.707%2012%202.5%206.793V2.5zM4.5%203a1%201%200%201%201%200%202%201%201%200%200%201%200-2z%27%2F%3E%3C%2Fsvg%3E");
}

#tags .icon {
  -webkit-mask-image: var(--icon-tags);
  mask-image: var(--icon-tags);
}