# Idea files
.idea/*

# VSCode
.vscode
.vscode-server-insiders/

# Mac files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Byte-compiled / optimized / DLL files
*.manifest
*.spec

# Jekyll dev or build files
_site/*
_development_tool/*
.sass-cache/*
*.css.map
*.scssc
.bundle/*

# Theme Gem files
Gemfile.lock
*.gem
.gems
jekyll-theme-type-on-strap.gemspec

# Node js files
**/node_modules/*
*-test.md
*copy.md
.jekyll-cache/*
test/*
.jekyll-metadata

# Other
.ssh/
.bash_history
