<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{% include 'partials/description.html' %}" />
	<meta name="author" content="{{ config.author }}" />
	<meta name="theme-color" content="{{ config.extra?.accent_color | default(value='#9a9996') | safe }}" />
	{%- if config.extra?.accent_color_dark %}
	<meta name="theme-color" content="{{ config.extra.accent_color_dark | safe }}" media="(prefers-color-scheme:dark)" />
	{%- endif %}
	{%- if config.extra?.csp %}
		{%- include "partials/csp.html" %}
	{%- endif %}

	<title>{% include "partials/title.html" %}</title>
	{%- if paginator?.current_index == 1 and section?.permalink %}
		{%- set canonical_url = section.permalink -%}
	{%- else %}
		{%- set canonical_url = current_url | default(value=config.base_url) -%}
	{%- endif %}
	<link rel="canonical" href="{{ canonical_url | safe }}" />

	{%- if paginator?.previous %}
	<link rel="prev" href="{% if paginator.current_index == 2 and section?.permalink %}{{ section.permalink }}{% else %}{{ paginator.previous }}{% endif %}" />
	{%- endif %}
	{%- if paginator?.next %}
	<link rel="next" href="{{ paginator.next }}" />
	{%- endif %}

	{%- if config.extra?.comments %}
	<link rel="me" href="https://{{ config.extra.comments.host }}/@{{ config.extra.comments.user }}" />
	<meta name="fediverse:creator" content="@{{ config.extra.comments.user }}@{{ config.extra.comments.host }}" />
	{%- endif %}

	{%- include "partials/favicon.html" %}

	{%- if config.generate_feeds and config.feed_filenames %}
		{%- for feed in config.feed_filenames %}
			{%- if feed == "atom.xml" %}
	<link rel="alternate" type="application/atom+xml" title="{{ config.author }} — Atom Feed" href="{{ get_url(path=feed) | safe }}" />
			{%- elif feed == "rss.xml" %}
	<link rel="alternate" type="application/rss+xml" title="{{ config.author }} — RSS Feed" href="{{ get_url(path=feed) | safe }}" />
			{%- endif %}
		{%- endfor %}
	{%- endif %}

	{%- include "partials/variables.html" %}
	{%- set styles = ["style.css", "icons.css"] %}
	{%- if config.extra?.bundled_fonts %}
		{%- set styles = [...styles, "fonts.css"] %}
	{%- endif %}
	{%- if page?.extra?.katex or section?.extra?.katex or config.extra?.katex %}
		{%- set styles = [...styles, "katex.css"] %}
	{%- endif %}
	{%- if config.extra?.styles %}
		{%- set styles = [...styles, ...config.extra.styles] %}
	{%- endif %}
	{%- if page?.extra?.styles %}
		{%- set styles = [...styles, ...page.extra.styles] %}
	{%- elif section?.extra?.styles %}
		{%- set styles = [...styles, ...section.extra.styles] %}
	{%- endif %}
	{%- if not config.extra?.debug?.no_styles %}
		{%- for style in styles %}
	<link rel="stylesheet" href="{{ get_url(path=style) | safe }}" />
		{%- endfor %}
		{%- if config.markdown?.highlighting and config.markdown.highlighting.light_theme and config.markdown.highlighting.dark_theme %}
	<link rel="stylesheet" href="{{ get_url(path='giallo-light.css') }}" media="(prefers-color-scheme: light)" />
	<link rel="stylesheet" href="{{ get_url(path='giallo-dark.css') }}" media="(prefers-color-scheme: dark)" />
		{%- elif config.markdown?.highlighting and config.markdown.highlighting.theme %}
	<link rel="stylesheet" href="{{ get_url(path='giallo.css') }}" />
		{%- endif %}
	{%- endif %}

	{%- set scripts = ["closable.js"] %}
	{%- if config.extra?.show_copy_button %}
		{%- set scripts = [...scripts, "copy-button.js"] %}
	{%- endif %}
	{%- if config.extra?.goatcounter %}
		{%- set scripts = [...scripts, "count.js"] %}
	{%- endif %}
	{%- if page?.extra?.katex or section?.extra?.katex or config.extra?.katex %}
		{%- set scripts = [...scripts, "katex.min.js", "auto-render.min.js", "katex-init.js"] %}
	{%- endif %}
	{%- if config.build_search_index %}
		{%- if config.search.index_format == "elasticlunr_json" %}
			{%- set scripts = [...scripts, "elasticlunr.min.js", "search-elasticlunr.js"] %}
		{%- elif config.search.index_format == "fuse_json" %}
			{%- set scripts = [...scripts, "fuse.js", "search-fuse.js"] %}
		{%- endif %}
	{%- endif %}
	{%- if config.extra.nav?.show_theme_switcher %}
		{%- set scripts = [...scripts, "theme-switcher.js"] %}
	{%- endif %}
	{%- if page?.extra?.comments?.id %}
		{%- set scripts = [...scripts, "comments.js"] %}
	{%- endif %}
	{%- if config.extra?.scripts %}
		{%- set scripts = [...scripts, ...config.extra.scripts] %}
	{%- endif %}
	{%- if page?.extra?.scripts %}
		{%- set scripts = [...scripts, ...page.extra.scripts] %}
	{%- elif section?.extra?.scripts %}
		{%- set scripts = [...scripts, ...section.extra.scripts] %}
	{%- endif %}
	{%- for script in scripts %}
	<script defer {% if script == "count.js" %}data-goatcounter="https://{{ config.extra.goatcounter.user }}.{{ config.extra.goatcounter?.host | default(value='goatcounter.com') }}/count"{% endif %} src="{{ get_url(path=script) | safe }}"></script>
	{%- endfor %}

	{%- if page?.extra?.banner %}
		{%- set social_image = page.permalink ~ page.extra.banner -%}
	{%- elif page?.extra?.screenshot %}
		{%- set social_image = page.permalink ~ page.extra.screenshot -%}
	{%- endif %}
	<meta property="og:site_name" content="{{ config.author }}" />
	<meta property="og:title" content="{% include 'partials/title.html' %}" />
	<meta property="og:description" content="{% include 'partials/description.html' %}" />
	<meta property="og:url" content="{{ canonical_url | safe }}" />
	<meta property="og:type" content="{% if page and current_path is matching(pat='^/blog/') %}article{% else %}website{% endif %}" />
	<meta property="og:locale" content="{{ <translate key='date_locale' default='en_US' language_strings /> }}" />
	{%- if social_image %}
	<meta property="og:image" content="{{ social_image | safe }}" />
	{%- endif %}
	{%- if page and current_path is matching(pat='^/blog/') %}
	<meta property="article:published_time" content="{{ page.date | date(format='%Y-%m-%d') }}" />
		{%- if page.updated %}
	<meta property="article:modified_time" content="{{ page.updated | date(format='%Y-%m-%d') }}" />
		{%- endif %}
		{%- for tag in page.taxonomies?.tags | default(value=[]) %}
	<meta property="article:tag" content="{{ tag }}" />
		{%- endfor %}
	{%- endif %}
	<meta name="twitter:card" content="{% if social_image %}summary_large_image{% else %}summary{% endif %}" />
	<meta name="twitter:title" content="{% include 'partials/title.html' %}" />
	<meta name="twitter:description" content="{% include 'partials/description.html' %}" />
	{%- if social_image %}
	<meta name="twitter:image" content="{{ social_image | safe }}" />
	{%- endif %}

	{%- include "partials/structured_data.html" %}
</head>
