<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }

  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <!-- <h1>404</h1> -->
  <p align="center">
    <div id="404" style="width:inherit; height: 5em;float: center;"></div>
  </p>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
  <script>
    var parent = document.getElementById('404');
    var x = 0;

    function setup() {
      var canvas = createCanvas(parent.offsetWidth, parent.offsetHeight);
      canvas.parent('404');
    }

    function draw() {
      clear();
      fill(0);
      textSize(80);
      textAlign(CENTER);
      text("404", (width / 2 - 100) * sin(x/2) + width / 2, 70);
      x += 0.025;
    }

    function windowResized() {
      resizeCanvas(parent.offsetWidth, parent.offsetHeight);
    }
  </script>
</div>
